# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for data sciences
- Getting familiar with jupyter notebook
- Learn python
- Understand the tools used in Data Science

## Author:
Carlos Torres Sanchez

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciKit
3. Pandas

| Data Science Tools | 
|:--------:|
|   Hadoop |  
|   Tableau  |  
|   Anaconda   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This is a simple arithmetic expression to multiply and then add integers

(3*4)+5

17

In [3]:
# this will convert 200 minutes to hours by dividing by 60.

hours = 200 / 60
print(hours)

3.3333333333333335